html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
body {
  background: #f6f6f6;
  text-align: center;
  color: #212121;
}
/*navbar*/
#navbar {
  background: #f6f6f6 !important;
  font-family: "VT323", monospace !important;
  font-size: 2rem !important;
}
#glasses-icon {
  margin: 0 auto;
  padding: 0;
  height: 40px;
  width: 55px;
}
h1 {
  font-family: "Bungee Shade", cursive;
  padding: 10px;
  font-size: 5rem;
}
button {
  font-family: "VT323", monospace !important;
  font-size: 3rem;
  margin: 10px;
  padding: 5px;
  border: 5px solid #212121;
  color: #212121;
  background: lime;
  border-radius: 35% 0 35% 0;
}
button:hover {
  color: lime;
  border: 5px solid #212121;
  background: #212121;
  border-radius: 35% 0 35% 0;
}
/*welcome*/
#welcome-section {
  background: #212121;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "VT323", monospace;
}
.welcome {
  color: lime;
}
.welcome h1 {
  font-size: 2rem;
  font-family: "VT323", monospace;
}
.welcome h2 {
  font-size: 4rem;
}
/*Projects*/
@media (min-width: 300px) {
  #projects-section {
    background: lime;
    padding-top: 10%;
  }
}

#projects-section h1 {
  font-size: 6rem;
  border-bottom: 2px solid #212121;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 400px) {
  .project-tile {
    margin: 10px;
    min-height: 150px;
    min-width: 300px;
    border: 2px solid #212121;
    border-radius: 4px;
  }
}

.project-tile a {
  text-decoration: none;
  color: lime;
}
.project-tile a:hover {
  color: orange;
}
.project-tile img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  background: #f6f6f6;
}
.project-tile label {
  font-family: "VT323", monospace;
  background: #212121;
  width: 400px;
  margin-left: -2px;
  border: 2px solid #212121;
  border-radius: 0 0 10px 10px;
  font-size: 2rem;
}
#projects-section button {
  margin-top: 5%;
}
/*Contact*/
@media (min-width: 300px) {
  #contact-section {
    font-family: "VT323", monospace;
    padding-top: 5%;
  }
}

#about-me {
  background: lime;
  margin-left: 40%;
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: -30px 30px 0 3px #212121;
}
#about-me h1 {
  border-bottom: 2px solid #212121;
}
#about-me p {
  font-size: 3rem;
}
#my-links {
  background: lime;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 30px 30px 0 3px #212121;
}
#my-links h1 {
  border-bottom: 2px solid #212121;
}
/*Footer*/
footer {
  padding-top: 7%;
  padding-bottom: 5%;
  font-size: 2rem;
  background: transparent;
  font-family: "VT323", monospace !important;
}
footer a {
  color: lime;
}
footer a:hover {
  color: #212121;
  text-decoration: none;
}
